<div class='column-view'>
  <div class='btn-row'>
    <button class='btn share-btn' onclick='copyCardPageLink()'>Copy Link</button>
    <button class='btn save-btn' onclick='saveCardSnapshot()'>Save Snapshot</button>
    <button class='btn home-btn' onclick='goToHomePage()'>Home Page</button>
  </div>
  <div class='data-card-container'>
    {{> loading-image.view}}
    <object class='interactive-data-card' type='image/svg+xml'>
      <img class='data-card' alt='Data Card' />
    </object>
  </div>
</div>