<div class='column-view'>
  <div class='btn-row'>
    <button class='btn share-btn' onclick='copyCardPageLink()'>Copy Link</button>
    <button class='btn home-btn' onclick='goToHomePage()'>Home Page</button>
  </div>

  <object class='interactive-data-card' type='image/svg+xml'>
    <img class='data-card' alt='Data Card' />
  </object>
</div>