<div class="column-view logged-out-view">
  <div class="gen-text">
    Click the "Generate Card" button below to generate your own data card, which you can embed in your website, blog, markup code,
    etc.
  </div>
  <div class="gen-btn-group">
    <button class="btn gen-btn" onclick="generateCard()">Generate Card</button>
    {{> loading-button}}
  </div>
</div>

<div class="column-view logged-in-view" hidden>
  {{#> button-row}}
    <button class="btn copy-code-btn" onclick="copyCardCode()">Copy Code</button>
    <button class="btn card-btn" onclick="goToCardPage()">Full Card View</button>
    <button class="btn logout-btn" onclick="logOut()">Log Out</button>
    <div class="delete-btn-group">
      <button class="btn delete-btn" onclick="deleteCard()">Delete Card</button>
      {{> loading-button}}
    </div>
  {{/button-row}}
  <a class="data-card-link">
    {{> loading-image-container}}
    <img class="data-card" alt="Data Card">
  </a>
</div>