/* main layout */

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

:root {
  --spotify-green: #1db954;
  --spotify-black: #191414;
  --spotify-bg: #1ae68c;
  --std-spacing: 3rem;
  --content-max-width: 920px;
  --footer-height: 5rem;
  --btn-row-gap: 1rem;
  --btn-height: 3rem;
  --btn-outline-width: 6px;

  background-color: var(--spotify-black);
  color: var(--spotify-black);
  font-family: Circular, Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--spotify-green);
}

.column-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--spotify-bg);
  min-height: calc(100vh - var(--footer-height));
  padding: var(--std-spacing);
}

.main-view {
  width: 100%;
  display: none;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: var(--std-spacing);
}

.content {
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.footer {
  color: white;
  height: var(--footer-height);
  padding: 0 var(--std-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--std-spacing);
}

.spotify-icon {
  display: none;
}

.repo-link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  :root {
    --std-spacing: 2rem;
    font-size: 14px;
  }

  .title {
    font-size: 2.4rem;
  }

  .spotify-logo {
    display: none;
  }

  .spotify-icon {
    display: block;
  }
}

/* partials */

.loading-img {
  max-width: 200px;
}

.loading-img-container,
.loading-img {
  width: 100%;
}

.loading-btn {
  display: none;
}

.loading-btn > .loading-img {
  filter: brightness(0);
  width: 4rem;
}

/* common styles */

.content .column-view {
  gap: var(--std-spacing);
}

.centered-row-container {
  width: calc(100% + var(--std-spacing) * 2);
  margin: 0 calc(var(--std-spacing) * -1);
  overflow-x: auto;
  scrollbar-width: none; /* firefox */
}

.centered-row-container::-webkit-scrollbar {
  display: none;
}

.centered-row-container > * {
  width: fit-content;
  margin: 0 auto;
  display: flex;
}

.centered-row-container > *::before,
.centered-row-container > *::after {
  content: '';
  width: var(--std-spacing);
  flex-shrink: 0;
}

.btn-row-container {
  margin: calc(var(--btn-outline-width) * -1) 0;
}

.btn-row {
  height: calc(var(--btn-height) + calc(var(--btn-outline-width) * 2));
  gap: var(--btn-row-gap);
}

.btn-row::before,
.btn-row::after {
  width: calc(var(--std-spacing) - var(--btn-row-gap));
}

.btn-row > * {
  align-self: center; /* using `align-items: center;` on the flex box for vertical centering breaks the spacing on the right */
  flex-shrink: 0;
}

.btn {
  background-color: white;
  font-weight: 700;
  height: var(--btn-height);
  padding: 0 2rem;
  border-radius: calc(var(--btn-height) / 2);
  box-shadow: 0 0 0 var(--btn-outline-width) transparent;
}

.btn:enabled:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn:enabled:active {
  box-shadow: 0 0 0 calc(var(--btn-outline-width) / 2) var(--spotify-bg),
    0 0 0 var(--btn-outline-width) white;
  transform: initial;
}

.btn:enabled:hover,
.btn:enabled:active {
  filter: brightness(0.95);
}

.data-card {
  width: 100%;
}

/* home page */

.delete-btn {
  color: red;
}

.gen-text {
  font-size: 1.2rem;
  max-width: 500px;
}

.data-card-link {
  width: 100%;
}

/* card page */

/* nothing yet */
