/* main layout */

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  /* background-color: inherit; */
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

:root {
  --spotify-green: #1db954;
  --spotify-black: #191414;
  --spotify-bg: #1ae68c;
  /* --spotify-bg-dark: #222326; */
  --std-spacing: 3rem;
  --content-width: 920px;
  --btn-height: 3rem;
  --footer-height: 5rem;

  background-color: var(--spotify-black);
  color: var(--spotify-black);
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--spotify-green);
}

.main-view {
  display: none;
}

.loading-view,
.main-view {
  background-color: var(--spotify-bg);
}

.container {
  min-height: calc(100vh - var(--footer-height));
  padding: var(--std-spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: 900;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: var(--std-spacing);
}

.content {
  width: 100%;
  max-width: var(--content-width);
}

.footer {
  color: white;
  height: var(--footer-height);
  padding: 0 var(--std-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--std-spacing);
}

.spotify-icon {
  display: none;
}

.repo-link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .spotify-logo {
    display: none;
  }

  .spotify-icon {
    display: block;
  }
}

/* partials */

.loading-img {
  height: 100px;
}

.loading-btn {
  display: none;
}

.loading-btn > .loading-img {
  filter: brightness(0%);
  height: 2rem;
}

/* common styles */

.column-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--std-spacing);
}

.btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  background-color: white;
  font-weight: 700;
  height: var(--btn-height);
  padding: 0 2rem;
  border-radius: calc(var(--btn-height) / 2);
}

.btn:enabled:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transform: scale(1.05);
}

.btn:enabled:active {
  box-shadow: 0 0 0 3px var(--spotify-bg), 0 0 0 6px white;
}

.data-card {
  width: 100%;
}

/* home page */

.delete-btn {
  color: red;
}

.gen-text {
  font-size: 1.2rem;
  max-width: 500px;
}

.data-card-link {
  width: 100%;
}

/* card page */

.data-card-container {
  width: calc(100% + var(--std-spacing) * 2);
  padding: 0 var(--std-spacing);
  margin: 0 calc(var(--std-spacing) * -1);
  overflow-x: auto;
}

.data-card-container::-webkit-scrollbar {
  display: none;
}
