<section class='container'>
  <h1 class='title'>Spotify Data Card</h1>
  <p class='subtitle'>Share your music taste with the world.</p>

  <div class='data-card-area'>
    <div class='data-card-text'>Click the 'Generate Card' button below to
      generate your Spotify data card which you can embed in your website, blog,
      markup code, etc.</div>
    <img class='data-card' alt='Data Card' />
    {{! <object data='/card?user_id=12146253656' type='image/svg+xml'>
      <img src='/card?user_id=12146253656' alt='Data Card' />
    </object> }}
  </div>

  <button class='btn gen-copy-btn'></button>
  <button class='btn logout-btn' onclick='logOut()'>Log Out</button>
  <button class='btn delete-btn' onclick='deleteCard()'>Delete Card</button>
</section>

<footer class='footer'>
  <a href='https://www.spotify.com' target='_blank' rel='noreferrer'>
    <img
      class='spotify-logo'
      src='images/Spotify_Logo_RGB_White.png'
      alt='Spotify Link'
      height='30'
    />
    <img
      class='spotify-icon'
      src='images/Spotify_Icon_RGB_White.png'
      alt='Spotify Link'
      height='30'
    />
  </a>
  <a
    class='code-link'
    href='https://github.com/magic-ike/spotify-data-card'
    target='_blank'
    rel='noreferrer'
  >Made with 💚 and Node</a>
</footer>